/*-------------------------------*/


/*  Fonts
/*-------------------------------*/

@font-face {
	font-family: 'Playball';
	src: url('../fonts/Playball/Playball-Regular.eot');
	src: url('../fonts/Playball/Playball-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Playball/Playball-Regular.woff2') format('woff2'),
		url('../fonts/Playball/Playball-Regular.woff') format('woff'),
		url('../fonts/Playball/Playball-Regular.ttf') format('truetype'),
		url('../fonts/Playball/Playball-Regular.svg#Playball-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Homenaje';
	src: url('../fonts/Homenaje/Homenaje-Regular.eot');
	src: url('../fonts/Homenaje/Homenaje-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Homenaje/Homenaje-Regular.woff2') format('woff2'),
		url('../fonts/Homenaje/Homenaje-Regular.woff') format('woff'),
		url('../fonts/Homenaje/Homenaje-Regular.ttf') format('truetype'),
		url('../fonts/Homenaje/Homenaje-Regular.svg#Homenaje-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*-------------------------------*/


/*  All styles
/*-------------------------------*/


/* Content:

1. Main;
2. Nav;
3. Header;
4. About section;
5. Work section;
6. Testimonionals section;
7. contact section;
8. Footer;

/*-------------------------------*/


/*  1. Main
/*-------------------------------*/

a {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

section {
	padding-top: 90px;
	padding-bottom: 90px;
}

p {
	line-height: 30px;
    line-height: 24px;
    font-family: 'Homenaje',sans-serif, monospace;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
    font-family: 'Homenaje',sans-serif, monospace, Helvetica;

}


/*-- Section Heading --*/

.sub-heading {
	color: #8980fe;
	padding-bottom: 30px;
}

.sub-heading hr {
	border-color: #8980fe;
	width: 200px;
}


hr {
	width: 80px;
	border-top: 4px double #8c8b8b;
}

hr.icon:after {
	content: "\f2be";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #fff;
}

hr.icon2:after {
	content: "\f2bb";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #fff;
}

hr.icon3:after {
	content: "\f046";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #fff;
}

hr.icon4:after {
	content: "\f040";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #000;
}

hr.icon5:after {
	content: "\f086";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #fff;
}

hr.icon6:after {
	content: "\f0e0";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .30em;
	font-family: 'FontAwesome';
	font-size: 1.5em;
	color: #8980fe;
	background-color: #000;
}


::selection {
	background: #873fb5;
	color: #fff;
}

::-moz-selection {
	background: #873fb5;
	color: #fff;
}


strong {
	color: #8980fe;
}


/*-------------------------------*/

/*  2. Nav
/*-------------------------------*/

#MainNav.navbar-default {
	border-color: transparent;
	background-color: rgba(249, 249, 249, 1);
    
}

#MainNav.navbar-default .navbar-collapse {
	border-color: rgba(249, 249, 249, .1)
}

#MainNav.navbar-default .navbar-toggle {
	border-color: transparent;
	background-color: transparent;
}

#MainNav.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

#MainNav.navbar-default .navbar-toggle:hover, #MainNav.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

#MainNav.navbar-default .nav li a {
	text-transform: uppercase;
	font-family: 'Homenaje',sans-serif, monospace, Helvetica;
	font-weight: 400;
	letter-spacing: 1px;
	color: #1c1e21;
}

#MainNav.navbar-default .nav li a:hover, #MainNav.navbar-default .nav li a:focus {
	outline: 0;
	color: #8980fe;
}

#MainNav.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #8980fe;;
	background-color: transparent;
}

#MainNav.navbar-default {
	padding: 10px 0;
	border: 0;
	background-color: rgba(249, 249, 249, 1);
	
}

#MainNav.navbar-default .navbar-brand {
    font-family: 'Playball',sans-serif, monospace, Helvetica;
	font-size: 2em;
}

#MainNav.navbar-default .navbar-brand:hover, #MainNav.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
	color: #8980fe;
}

#MainNav.navbar-default .navbar-collapse {
	border-color: rgba(249, 249, 249, .1)
}


/*-------------------------------*/


/*  3. Header
/*-------------------------------*/


header {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    background-image: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("../img/cover.jpg");
	background-image: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("../img/cover.jpg");
}

header .header-text {
	padding-top: 100px;
	padding-bottom: 50px
}

@media(min-width:768px) {
	header .header-text {
		padding-top: 200px;
		padding-bottom: 200px;
	}
	header h1 {
		font-size: 48px;
	}
	header h2 {
		font-size: 24px;
	}
}

#home h2{
    padding-top: 20px;
}

/*-------------------------------*/


/*  4. About skills
/*-------------------------------*/

#about {
	background-color: #fff;
}


#about p {
    line-height: 40px;
    font-size: 18px;
}


/* Skills bar */

.skills {
	padding-top: 20px;
	width: 100%;
	color: #34495e;
}

.skills .skillbar {
	width: 100%;
	height: 16px;
	padding: 5px;
	box-sizing: border-box;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin-bottom: 30px;
	position: relative;
	background-color: #363636;
}

.skills .skillbar .count-bar {
	width: 100%;
	height: 6px;
	width: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #8980fe;
}

.skills .title {
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	padding-left: 5px;
    font-family: 'Homenaje',sans-serif, monospace, Helvetica;
	line-height: 25px;
	top: -25px;
	left: 0;
	text-transform: uppercase;
}

.skills .count {
	position: absolute;
	top: 0;
	right: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #fdfdfd;
	font-size: 9px;
}


/*-------------------------------*/


/* 5. Portfolio section
/*-------------------------------*/

#work {
	background-color: #000;
}

.caption-style {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.caption-style .portfolio_item {
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.caption-style .portfolio_item:hover .caption {
	opacity: 1;
	transform: translateY(-100px);
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-o-transform: translateY(-100px);
}

.caption-style img {
	margin: 0px;
	padding: 0px;
	z-index: 4;
}

.caption-style .caption {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 300px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.caption-style .blur {
	background-color: rgba(0, 0, 0, 0.7);
	height: 120px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style .caption-text h3 {
	padding-right: 50px;
	text-transform: uppercase;
	font-size: 18px;
}

.caption-style .caption-text p {
	padding-right: 70px;
	font-size: 15px;
}

.caption-style .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 400px;
	height: 300px;
	text-align: center;
	top: 20px;
}


/*-------------------------------*/


/*  6. Testimonials
/*-------------------------------*/

.testimonial-list {
	margin-top: 30px;
	text-align: center;
    
}

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.testimonial-list .testimonial-text {
	margin-top: 30px;
	margin-bottom: 70px;
    
}

.testimonial-list .testimonial-text a:hover, .testimonial-list .testimonial-text a:focus {
	color: #000;
	border: 0;
}

.testimonial-list .testimonial-text a {
	color: #8980fe;
    text-decoration: underline;
    
}

.testimonial-list .testimonial-text a:hover {
	color: #000;
}
  

.testimonial-list .nav-tabs li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.testimonial-carousel.carousel .carousel-indicators > li {
	border: 1px solid #8980fe;
}

.testimonial-carousel.carousel .carousel-indicators .active {
	background-color: #8980fe;
}

#testimonials {
	background-color: #fff;
}

#testimonials p{
    font-family: 'Playball', sans-serif, monospace, Helvetica;

}



/*-------------------------------*/


/* 7.Contact
/*-------------------------------*/

#contact {
	background-color: #000;
}


.btn{
    color: #fff;
    background-color: #8980fe;
}


.btn:hover{
    color: #fff;
    background-color: #8980fe;
}

#message {
	height: 200px;
	width: 100%;
   	height: 100%;
	width: 100%;
	border: 0;
	padding: 20px;
	background-color: transparent;
	font-size: 14px;
	color: #fff;
	resize: none;
	border: solid 1px #fff;
	position: relative;
}

#msg_subject{
    height: 40px;
	width: 100%;
	border: solid 1px #fff;
	position: relative;
	margin-bottom: 30px;
    
}


#name{
    height: 40px;
	width: 100%;
	border: solid 1px #fff;
	position: relative;
	margin-bottom: 30px; 
    
}


#email{
    height: 40px;
	width: 100%;
    background-color: transparent;
	border: solid 1px #fff;
	position: relative;
	margin-bottom: 30px; 
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: transparent!important;
    -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
    }


input[type="text"] {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0 20px;
	background-color: transparent;
	font-size: 14px;
	color: #fff;
}

input:focus, textarea:focus {
	outline: none;
}


/*-------------------------------*/


/*  8.footer
/*-------------------------------*/

footer {
	background-color: #000;
}

footer p {
	color: #fff;
	padding-bottom: 15px;
}
